# [作業目標]
- 使用 Day 12 剛學到的方法, 對較完整的資料生成離散化特徵
- 觀察上述離散化特徵, 對於目標值的預測有沒有幫助

# [作業重點]
- 仿照 Day 12 的語法, 將年齡資料 ('DAYS_BIRTH' 除以 365) 離散化
- 繪製上述的 "離散化標籤" 與目標值 ('TARGET') 的長條圖

In [5]:
# 載入需要的套件
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# 設定 data_path
dir_data = './Part01/'

### 之前做過的處理

In [6]:
# 讀取資料檔
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)
app_train.shape

(307511, 122)

In [3]:
# 將只有兩種值的類別型欄位, 做 Label Encoder, 計算相關係數時讓這些欄位可以被包含在內
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

# 檢查每一個 column
for col in app_train:
    if app_train[col].dtype == 'object':
        # 如果只有兩種值的類別型欄位
        if len(list(app_train[col].unique())) <= 2:
            # 就做 Label Encoder, 以加入相關係數檢查
            app_train[col] = le.fit_transform(app_train[col])            
print(app_train.shape)
app_train.head()

(307511, 122)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,0,M,0,1,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,0,F,0,0,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,1,M,1,1,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,0,F,0,1,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,0,M,0,1,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
# 受雇日數為異常值的資料, 另外設一個欄位記錄, 並將異常的日數轉成空值 (np.nan)
app_train['DAYS_EMPLOYED_ANOM'] = app_train["DAYS_EMPLOYED"] == 365243
app_train['DAYS_EMPLOYED'].replace({365243: np.nan}, inplace = True)

# 出生日數 (DAYS_BIRTH) 取絕對值 
app_train['DAYS_BIRTH'] = abs(app_train['DAYS_BIRTH'])

## 練習時間
參考 Day 12 範例程式，離散化你覺得有興趣的欄位，並嘗試找出有趣的訊息

In [9]:
app_train['AMT_INCOME_TOTAL'].describe()

count    3.075110e+05
mean     1.687979e+05
std      2.371231e+05
min      2.565000e+04
25%      1.125000e+05
50%      1.471500e+05
75%      2.025000e+05
max      1.170000e+08
Name: AMT_INCOME_TOTAL, dtype: float64

In [10]:
pd.qcut(app_train['AMT_INCOME_TOTAL'],4)

0            (147150.0, 202500.0]
1         (202500.0, 117000000.0]
2           (25649.999, 112500.0]
3            (112500.0, 147150.0]
4            (112500.0, 147150.0]
5           (25649.999, 112500.0]
6            (147150.0, 202500.0]
7         (202500.0, 117000000.0]
8           (25649.999, 112500.0]
9            (112500.0, 147150.0]
10          (25649.999, 112500.0]
11          (25649.999, 112500.0]
12          (25649.999, 112500.0]
13        (202500.0, 117000000.0]
14           (147150.0, 202500.0]
15           (147150.0, 202500.0]
16          (25649.999, 112500.0]
17          (25649.999, 112500.0]
18          (25649.999, 112500.0]
19          (25649.999, 112500.0]
20           (112500.0, 147150.0]
21           (147150.0, 202500.0]
22        (202500.0, 117000000.0]
23          (25649.999, 112500.0]
24           (112500.0, 147150.0]
25          (25649.999, 112500.0]
26          (25649.999, 112500.0]
27          (25649.999, 112500.0]
28        (202500.0, 117000000.0]
29          (25649.999, 112500.0]
                   ...
307481    (202500.0, 117000000.0]
307482    (202500.0, 117000000.0]
307483      (25649.999, 112500.0]
307484    (202500.0, 117000000.0]
307485    (202500.0, 117000000.0]
307486    (202500.0, 117000000.0]
307487       (112500.0, 147150.0]
307488       (147150.0, 202500.0]
307489    (202500.0, 117000000.0]
307490      (25649.999, 112500.0]
307491      (25649.999, 112500.0]
307492    (202500.0, 117000000.0]
307493       (112500.0, 147150.0]
307494    (202500.0, 117000000.0]
307495       (147150.0, 202500.0]
307496    (202500.0, 117000000.0]
307497       (147150.0, 202500.0]
307498       (147150.0, 202500.0]
307499      (25649.999, 112500.0]
307500    (202500.0, 117000000.0]
307501      (25649.999, 112500.0]
307502      (25649.999, 112500.0]
307503      (25649.999, 112500.0]
307504       (147150.0, 202500.0]
307505      (25649.999, 112500.0]
307506       (147150.0, 202500.0]
307507      (25649.999, 112500.0]
307508       (147150.0, 202500.0]
307509       (147150.0, 202500.0]
307510       (147150.0, 202500.0]
Name: AMT_INCOME_TOTAL, Length: 307511, dtype: category
Categories (4, interval[float64]): [(25649.999, 112500.0] < (112500.0, 147150.0] < (147150.0, 202500.0] < (202500.0, 117000000.0]]