## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [14]:
data = {'國家': ['Taiwan','China','USA','Japan','Korea'],
        '人口': list(np.random.randint(10000,20000,size = 5))}
data = pd.DataFrame(data)

In [15]:
data

       國家     人口
0  Taiwan  12598
1   China  14107
2     USA  11094
3   Japan  19647
4   Korea  14973

In [37]:
data.loc[data['人口'] == data['人口'].max()]

      國家     人口
3  Japan  19647