# 範例 : (Kaggle)房價預測
***
- 以下用房價預測資料, 觀察特徵的幾種類型
- 這份資料有 'int64', 'float64', 'object' 三種欄位, 分別將其以python的list格式紀錄下來

# [教學目標]
- 以下程式碼將示範 : 如何將欄位名稱, 依照所屬類型分開, 並列出指定類型的部分資料

# [範例重點]
- 如何觀察目前的 DataFrame 中, 有哪些欄位類型, 以及數量各有多少 (In[3], Out[3])   
- 如何將欄位名稱依欄位類型分開 (In[4], Out[4])
- 如何只顯示特定類型的欄位資料 (In[5], Out[5])

In [1]:
# 載入基本套件
import pandas as pd
import numpy as np

# 讀取訓練與測試資料
data_path = '../Part02/'
df_train = pd.read_csv(data_path + 'house_train.csv.gz')
df_test = pd.read_csv(data_path + 'house_test.csv.gz')
df_train.shape

(1460, 81)

In [2]:
# 訓練資料需要 train_X, train_Y / 預測輸出需要 ids(識別每個預測值), test_X
# 在此先抽離出 train_Y 與 ids, 而先將 train_X, test_X 該有的資料合併成 df, 先作特徵工程
train_Y = np.log1p(df_train['SalePrice'])
ids = df_test['Id']
df_train = df_train.drop(['Id', 'SalePrice'] , axis=1)
df_test = df_test.drop(['Id'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal
1,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal
2,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal
3,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml
4,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal

In [6]:
# 秀出資料欄位的類型, 與對應的數量
# df.dtypes : 轉成以欄位為 index, 類別(type)為 value 的 DataFrame
# .reset_index() : 預設是將原本的 index 轉成一個新的欄位, 如果不須保留 index, 則通常會寫成 .reset_index(drop=True)
dtype_df = df.dtypes.reset_index() 
dtype_df.columns = ["Count", "Column Type"]
dtype_df = dtype_df.groupby("Column Type").aggregate('count').reset_index()
dtype_df

  Column Type  Count
0       int64     25
1     float64     11
2      object     43

In [4]:
# 確定只有 int64, float64, object 三種類型後對欄位名稱執行迴圈, 分別將欄位名稱存於三個 list 中
int_features = []
float_features = []
object_features = []
# .dtypes(欄位類型), .columns(欄位名稱) 是 DataFrame 提供的兩個方法, 這裡順便展示一下 for 與 zip 搭配的用法
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'float64':
        float_features.append(feature)
    elif dtype == 'int64':
        int_features.append(feature)
    else:
        object_features.append(feature)
# 這邊採用的寫法稱為 f-string, 是 Python 3.6.2 以後版本才出現的
# 如果無法執行, 則需要更新到這個版本之後, 或自行將程式改寫為 str.format 形式
# 改寫方式可以參考 https://blog.louie.lu/2017/08/08/outdate-python-string-format-and-fstring/
print(f'{len(int_features)} Integer Features : {int_features}\n')
print(f'{len(float_features)} Float Features : {float_features}\n')
print(f'{len(object_features)} Object Features : {object_features}')

25 Integer Features : ['MSSubClass', 'LotArea', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold']

11 Float Features : ['LotFrontage', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'BsmtFullBath', 'BsmtHalfBath', 'GarageYrBlt', 'GarageCars', 'GarageArea']

43 Object Features : ['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature', 'SaleType', 'SaleCondition']

In [5]:
#這樣就可以單獨秀出特定類型的欄位集合, 方便做後續的特徵工程處理
df[float_features].head()

,LotFrontage,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,BsmtFullBath,BsmtHalfBath,GarageYrBlt,GarageCars,GarageArea
0,65.0,196.0,706.0,0.0,150.0,856.0,1.0,0.0,2003.0,2.0,548.0
1,80.0,0.0,978.0,0.0,284.0,1262.0,0.0,1.0,1976.0,2.0,460.0
2,68.0,162.0,486.0,0.0,434.0,920.0,1.0,0.0,2001.0,2.0,608.0
3,60.0,0.0,216.0,0.0,540.0,756.0,1.0,0.0,1998.0,3.0,642.0
4,84.0,350.0,655.0,0.0,490.0,1145.0,1.0,0.0,2000.0,3.0,836.0

In [8]:
df.select_dtypes(include = ['float64'])

,LotFrontage,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,BsmtFullBath,BsmtHalfBath,GarageYrBlt,GarageCars,GarageArea
0,65.0,196.0,706.0,0.0,150.0,856.0,1.0,0.0,2003.0,2.0,548.0
1,80.0,0.0,978.0,0.0,284.0,1262.0,0.0,1.0,1976.0,2.0,460.0
2,68.0,162.0,486.0,0.0,434.0,920.0,1.0,0.0,2001.0,2.0,608.0
3,60.0,0.0,216.0,0.0,540.0,756.0,1.0,0.0,1998.0,3.0,642.0
4,84.0,350.0,655.0,0.0,490.0,1145.0,1.0,0.0,2000.0,3.0,836.0
5,85.0,0.0,732.0,0.0,64.0,796.0,1.0,0.0,1993.0,2.0,480.0
6,75.0,186.0,1369.0,0.0,317.0,1686.0,1.0,0.0,2004.0,2.0,636.0
7,NaN,240.0,859.0,32.0,216.0,1107.0,1.0,0.0,1973.0,2.0,484.0
8,51.0,0.0,0.0,0.0,952.0,952.0,0.0,0.0,1931.0,2.0,468.0
9,50.0,0.0,851.0,0.0,140.0,991.0,1.0,0.0,1939.0,1.0,205.0
10,70.0,0.0,906.0,0.0,134.0,1040.0,1.0,0.0,1965.0,1.0,384.0
11,85.0,286.0,998.0,0.0,177.0,1175.0,1.0,0.0,2005.0,3.0,736.0
12,NaN,0.0,737.0,0.0,175.0,912.0,1.0,0.0,1962.0,1.0,352.0
13,91.0,306.0,0.0,0.0,1494.0,1494.0,0.0,0.0,2006.0,3.0,840.0
14,NaN,212.0,733.0,0.0,520.0,1253.0,1.0,0.0,1960.0,1.0,352.0
15,51.0,0.0,0.0,0.0,832.0,832.0,0.0,0.0,1991.0,2.0,576.0
16,NaN,180.0,578.0,0.0,426.0,1004.0,1.0,0.0,1970.0,2.0,480.0
17,72.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1967.0,2.0,516.0
18,66.0,0.0,646.0,0.0,468.0,1114.0,1.0,0.0,2004.0,2.0,576.0
19,70.0,0.0,504.0,0.0,525.0,1029.0,0.0,0.0,1958.0,1.0,294.0
20,101.0,380.0,0.0,0.0,1158.0,1158.0,0.0,0.0,2005.0,3.0,853.0
21,57.0,0.0,0.0,0.0,637.0,637.0,0.0,0.0,1930.0,1.0,280.0
22,75.0,281.0,0.0,0.0,1777.0,1777.0,0.0,0.0,2002.0,2.0,534.0
23,44.0,0.0,840.0,0.0,200.0,1040.0,1.0,0.0,1976.0,2.0,572.0
24,NaN,0.0,188.0,668.0,204.0,1060.0,1.0,0.0,1968.0,1.0,270.0
25,110.0,640.0,0.0,0.0,1566.0,1566.0,0.0,0.0,2007.0,3.0,890.0
26,60.0,0.0,234.0,486.0,180.0,900.0,0.0,1.0,2005.0,2.0,576.0
27,98.0,200.0,1218.0,0.0,486.0,1704.0,1.0,0.0,2008.0,3.0,772.0
28,47.0,0.0,1277.0,0.0,207.0,1484.0,1.0,0.0,1957.0,1.0,319.0
29,60.0,0.0,0.0,0.0,520.0,520.0,0.0,0.0,1920.0,1.0,240.0
...,...,...,...,...,...,...,...,...,...,...,...
1429,50.0,0.0,0.0,0.0,641.0,641.0,0.0,0.0,1925.0,1.0,272.0
1430,75.0,327.0,0.0,0.0,967.0,967.0,0.0,0.0,1957.0,1.0,384.0
1431,69.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
1432,50.0,0.0,0.0,0.0,660.0,660.0,0.0,0.0,NaN,0.0,0.0
1433,60.0,0.0,0.0,0.0,216.0,216.0,0.0,0.0,NaN,0.0,0.0
1434,41.0,473.0,1573.0,0.0,0.0,1573.0,2.0,0.0,2005.0,2.0,495.0
1435,44.0,186.0,1564.0,0.0,30.0,1594.0,1.0,1.0,2004.0,2.0,525.0
1436,69.0,0.0,776.0,0.0,849.0,1625.0,0.0,1.0,1979.0,2.0,576.0
1437,65.0,0.0,0.0,0.0,1664.0,1664.0,0.0,0.0,1978.0,2.0,616.0
1438,70.0,0.0,0.0,0.0,1491.0,1491.0,0.0,0.0,2001.0,2.0,490.0
1439,140.0,257.0,576.0,0.0,552.0,1128.0,1.0,0.0,1975.0,2.0,528.0
1440,NaN,0.0,909.0,0.0,723.0,1632.0,1.0,0.0,1958.0,2.0,518.0
1441,NaN,0.0,1136.0,116.0,129.0,1381.0,1.0,0.0,2000.0,2.0,470.0
1442,95.0,198.0,1350.0,0.0,378.0,1728.0,1.0,0.0,2005.0,3.0,714.0
1443,88.0,382.0,1455.0,0.0,383.0,1838.0,1.0,0.0,2005.0,3.0,682.0
1444,125.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1951.0,1.0,270.0
1445,78.0,200.0,1243.0,0.0,45.0,1288.0,2.0,0.0,1997.0,4.0,784.0
1446,41.0,0.0,0.0,0.0,264.0,264.0,0.0,0.0,1977.0,1.0,336.0
1447,58.0,0.0,441.0,0.0,423.0,864.0,1.0,0.0,1968.0,1.0,288.0
1448,NaN,0.0,149.0,0.0,1503.0,1652.0,0.0,0.0,1970.0,3.0,928.0
1449,21.0,0.0,522.0,0.0,108.0,630.0,1.0,0.0,NaN,0.0,0.0
1450,21.0,0.0,252.0,0.0,294.0,546.0,0.0,0.0,1972.0,1.0,253.0
1451,80.0,194.0,119.0,344.0,641.0,1104.0,1.0,0.0,1969.0,1.0,336.0
1452,21.0,0.0,408.0,0.0,138.0,546.0,0.0,0.0,1970.0,1.0,286.0
1453,21.0,0.0,0.0,0.0,546.0,546.0,0.0,0.0,NaN,0.0,0.0
1454,21.0,0.0,0.0,0.0,546.0,546.0,0.0,0.0,NaN,0.0,0.0
1455,21.0,0.0,252.0,0.0,294.0,546.0,0.0,0.0,1970.0,1.0,286.0
1456,160.0,0.0,1224.0,0.0,0.0,1224.0,1.0,0.0,1960.0,2.0,576.0
1457,62.0,0.0,337.0,0.0,575.0,912.0,0.0,1.0,NaN,0.0,0.0
1458,74.0,94.0,758.0,0.0,238.0,996.0,0.0,0.0,1993.0,3.0,650.0

# 作業1 
* 試著執行作業程式，觀察三種類型的欄位分別進行( 平均 mean / 最大值 Max / 相異值 nunique ) 中的九次操作會有那些問題?  
並試著解釋那些發生Error的程式區塊的原因?  

# 作業2
* 思考一下，試著舉出今天五種類型以外的一種或多種資料類型，你舉出的新類型是否可以歸在三大類中的某些大類?  
所以三大類特徵中，哪一大類處理起來應該最複雜?